body {
    margin: 0;
    text-align: center;
    background: #1F2937;
}

.main {
    background: #6943FE;
    color: white;
    padding: 30px;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.03em;
    text-align: center;
    line-height: 38px;
    color: white;
}

input{
    box-sizing: border-box;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6943FE;
}

.div1, .div2, div3 {
    background-color: #273549;;
    border-radius: 4.68077px 0px 0px 0px;
    margin: 10px;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #CCC1FF;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}